.custom-btn {
    color: rgb(9, 6, 139);
}

.navbar.bg-light {
    background-color: white;
}

.custom-input {
    /* Add your custom styles here */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    /* ... */
}