<html lang="ar" dir="rtl">
<mat-toolbar>
    <div fxHide.gt-xs>

    </div>
    <div>
        <h1> نوع القرار</h1>
    </div>
</mat-toolbar>
<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" id="id">

    <div class="row">

        <div class="col">
            <div class="form-group">
                <label style="font-size:15px"> نوع القرار</label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="nomType" id="nomType">
            </div>
        </div>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success" style="font-size:15px"><i class="fa fa-database"></i> تسجيل
        </button>
        <button type="button" class="btn btn-danger" style="font-size:15px" [mat-dialog-close]>
            <i class="fa fa-close"></i> الغاء
        </button>


    </div>
</form>

</html>