<html lang="ar" dir="rtl">
<mat-toolbar>
    <div fxHide.gt-xs>

    </div>
    <div>
        <h1>ادارة الشكاوي</h1>
    </div>
</mat-toolbar>
<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" id="id">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">عدد الشكوى</label>
                <input type="number" class="form-control" style="font-size:15px" formControlName="numReclamation"
                    id="numReclamation">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">رمز الشكوى</label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="refReclamation"
                    id="refReclamation">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">تاريخ الشكوى </label>
                <input type="date" class="form-control" style="font-size:15px" formControlName="dateReclamation"
                    id="dateReclamation">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">الشاكي</label>
                <input type="text" class="form-control" style="font-size:15px"
                    formControlName="prenomNomSourceReclamation" id="prenomNomSourceReclamation">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">عنوان الشكاوي </label>
                <input type="text" class="form-control" style="font-size:15px"
                    formControlName="adresseSourceReclamation" id="adresseSourceReclamation">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">المشتكي به</label>
                <input type="text" class="form-control" style="font-size:15px"
                    formControlName="prenomNomSourceDestinataire" id="prenomNomSourceDestinataire">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">عنوان المشتكي به</label>
                <input type="text" class="form-control" style="font-size:15px"
                    formControlName="adresseSourceDestinataire" id="adresseSourceDestinataire">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">عنوان العقار </label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="adresseLocal"
                    id="adresseLocal">
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">موضوع الشكوى </label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="objetifReclamation"
                    id="objetifReclamation">
            </div>
        </div>

    </div>
    <div class="form-group">
        <label style="font-size:15px">الملاحضات</label>
        <input type="text" class="form-control" style="font-size:15px" formControlName="observation" id="observation">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" style="font-size:15px"><i class="fa fa-database"></i> تسجيل
        </button>
        <button type="button" class="btn btn-danger" style="font-size:15px" [mat-dialog-close]>
            <i class="fa fa-close"></i> الغاء
        </button>


    </div>
</form>

</html>