<html>
<div class="topnav">
    <!-- <img class="logo" src="assets/img/monatsir-removebg-preview.png" /> -->
    <a class="active" routerLink="/acceuil/dashboard">الصفحة الرئيسية</a>
    <a routerLink="/acceuil/users"> مستعملي المنظومة</a>
    <a routerLink="/acceuil/departements">المصلحة</a>
    <a routerLink="/acceuil/employes">الاعوان</a>
    <a routerLink="/acceuil/entites">الجهة</a>
    <a routerLink="/acceuil/reclamations">الشكاوي</a>
    <a routerLink="/acceuil/infractions">المحاضر</a>
    <a routerLink="/acceuil/sources_execution">جهة التنفيذ</a>
    <a routerLink="/acceuil/types_decision"> نوع القرار</a>
    <a routerLink="/acceuil/arretes">القرارات</a>

    <div class="topnav-right">
        <a href><span class="glyphicon glyphicon-user"></span> {{ username }}</a>
        <a href (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> خروج</a>
    </div>
</div>

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col"></div>
        </div>
        <br>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.container-fluid -->

    </section>
</section>
<!--main content end-->

</html>