<html lang="ar" dir="rtl">
<mat-toolbar>
    <div>
        <h1>ادارة القرارات</h1>
    </div>
</mat-toolbar>
<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="idArrete" id="idArrete">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">العدد الرتبي</label>
                <input type="number" class="form-control" style="font-size:15px" formControlName="numArrete"
                    id="numArrete">
            </div>
            <div class="form-group">
                <label style="font-size:15px"> رمز القرار</label>
                <input type="String" class="form-control" style="font-size:15px" formControlName="refArrete"
                    id="refArrete">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">تاريخ القرار </label>
                <input type="date" class="form-control" style="font-size:15px" formControlName="dateArrete"
                    id="dateArrete">
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px">الملاحظات </label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="descriptionArrete"
                    id="descriptionArrete">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label style="font-size:15px"> موضوع القرار </label>
                <input type="text" class="form-control" style="font-size:15px" formControlName="objetArrete"
                    id="objetArrete">
            </div>
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success" style="font-size:15px"><i class="fa fa-database"></i>
            تسجبل</button>
        <button type="button" class="btn btn-danger" style="font-size:15px" [mat-dialog-close]>
            <i class="fa fa-close"></i> الغاء
        </button>
    </div>
</form>

</html>